/* static/css/link-card.css */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 280px;
    height: 100px;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
}

a.card:hover {
    text-decoration: none;
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card .icon {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    flex-shrink: 0;
}

.card .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.card .title {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0;
}

.card .desc {
    font-size: 0.9rem;
    color: #666;
    margin: 0.2rem 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card.is-overflowing:hover .desc {
    animation: scroll-text 3s ease-in-out alternate infinite;
}

@keyframes scroll-text {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(185px - 100%));
    }
}


/* Styles for sub-navigation pages */
.sub-nav .card {
    height: 30px; /* Reduced height for sub-navigation cards */
    width: 120px;  /* Reduced width for sub-navigation cards */
}

.sub-nav .card .content {
    justify-content: center; /* Center title vertically */
}

.sub-nav .card .desc {
    display: none; /* Hide description on sub-navigation pages */
}

.sub-nav .card .icon {
    width: 24px; /* Adjust icon size for smaller cards */
    height: 24px;
    margin-right: 10px;
}

/* Panel switching logic */
.panel {
    display: none;
}

.panel.active {
    display: block;
}
