/* static/css/link-card.css */

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 80px;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    flex: 1 1 calc(100% / var(--cards-per-row, 4) - 1.5rem);
    box-sizing: border-box;
}

a.card:hover {
    text-decoration: none;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card.scrolling-desc:hover .desc {
    animation: scroll 10s linear infinite;
}

.card .icon {
    width: 48px;
    height: 48px;
    margin-right: 15px;
    flex-shrink: 0;
    color: #00a1f1; /* Sky blue color */
}

.card .content {
    overflow: hidden;
    min-width: 0; 
}

.card .title {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #00a1f1; /* Sky blue color */
}

.card .desc {
    font-size: 0.9rem;
    color: #333;
    margin-top: 4px; /* Adjust as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    transform: translateX(0);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Styles for sub-navigation pages */
.sub-nav .card {
    height: 48px; /* Set fixed height to 48px */
    flex: 1 1 250px; /* Allow growing from a base size */
    max-width: 200px; /* But prevent growing too wide */
}

.sub-nav .card .desc {
    display: none;
}

.sub-nav .card .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Panel switching logic */
.panel {
    display: none;
}

.panel.active {
    display: block;
}
